# IDE & build tools fluff
*.idea/
tmp/

# JS dependencies
frontend/node_modules

# Code coverage reports
coverage.html
coverage.out

# Environment variables
.env.production
.env.development
frontend/.env.development
frontend/.env.production

# Generated executables
bin/