# IDE & build tools fluff
*.idea/
tmp/

frontend/node_modules

# Environment variables
.env.production
.env.development

frontend/.env.development
frontend/.env.production

# Generated executables
go-web-service*